<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MyApp - {{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>

  <body>
  	{{> flashMessagesPartial flashMessages=flashMessages}}
  	
    <div class=container>
    {{{body}}}
    </div>

    {{> jsPartial jsUrls=jsUrls}}
  </body>
</html>