
<form action="/sample/post/updateAll" method="post">
  <input name="language" type="text" placeholder="Language to match" />
  <input name="newLanguage" type="text" placeholder="New language for replacement"/>
  <input type="submit" />
</form>

<br>
<a href="/sample/menu" >Go back to sample menu</a>