<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MyApp - {{title}}</title>
    {{> cssPartial cssUrls=cssUrls}}
  </head>

  <body>
    <div class=container>
    {{> flashMessagesPartial flashMessages=flashMessages}}
    {{{body}}}
    </div>

    {{> jsPartial jsUrls=jsUrls}}
  </body>
</html>