
<h3>Only routing and database actions are demonstrated here</h3>
<h5>Session is read to get the current user but is never affected in any case</h5>

<a href="/sample/all" >List all users</a>
<br>
<a href="/sample/get/delete" >Delete current user (doesn't logout/clean the session)</a>
<br>
<a href="/sample/get/delete/SuperUsername" >Delete user with username SuperUsername</a>
<br>
<a href="/sample/get/update/fr" >Update current user with new language fr</a>
<br>
<a href="/sample/get/update/SuperUsername/fr" >Update user with username SuperUsername with new language fr</a>
<br>
<a href="/sample/post/update" >Update form to update the current user with given new language</a>
<br>
<a href="/sample/get/updateAll/fr/en" >Update all users with language fr with new language en</a>
<br>
<a href="/sample/post/updateAll" >Update form to update all users with given language with given new language</a>
<br>
<br>
<a href="/sample/demo" >Demo dynamically imported js and css</a>
