<h3>Hey! You can log in now !</h3>

<form action="/auth/login" method="post">
  <input name="username" type="text" placeholder="Your username" />
  <input name="password" type="password" placeholder="Your password"/>
  <input type="submit" />
</form>