<h3>Hey! You can register now !</h3>

<form action="/auth/register" method="post">
  <input name="username" type="text" placeholder="Your username" />
  <input name="password" type="password" placeholder="Your password"/>
  <input name="passwordConfirm" type="password" placeholder="Your password again"/>
  <input type="submit" />
</form>